// Responsive design for screens <1200px

@media (max-width: 1200px) {
    // Nav Styles
    

    .hamburgerContainer {
        display: block;
    }

    .hamburgerContainer:active .hamburgerBar:nth-child(2) {
        opacity: 0;
    }
    .hamburgerContainer:active .hamburgerBar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);   
    }
    .hamburgerContainer:active .hamburgerBar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);   
    }

    .navMenu {
        position: fixed;
        right: -100%;
        gap: 0;
        flex-direction: column;
        background-color: $white;
        width: 50%;
        text-align: center;
        transition: 0.3s;
        .navItem {
            margin: 0.8rem 0;
        }
        &:active {
            right: 0;
        }
    }

    //Footer Styles

    .footerOuterWrapper .footerMain .wrapper,
    .footerSub .wrapper {
        width: 90%;
    }

}


// Responsive design for screens <1024px

@media (max-width: 1024px) {
    // .navBar {
    //     top: 0;
    //     .pageLinks {
    //         margin-top: -1rem;
    //     }
    // }

    .blogCommentSection .futureCommentsWrapper button {
        width: 100%;
    }
}



// Responsive design for screens <768px
@media (max-width: 768px) {


    //footer styles
    .footerOuterWrapper .footerMain .wrapper {
        flex-direction: column;
        .footerSections {
            width: 90%;

        &:nth-of-type(2) {
            margin: 0;
        }
        }
    }



}
