//index file header styles


.navBar {
    position: fixed;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    top: 1rem;
}

.pageLinks .navMenu {
    display: flex;
    align-items: center;
    li {
        padding: 1.2rem 1rem;
        font-family: $headingFont;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 0.025rem;
        line-height: 1.8rem;
        .current {
            color: $green;
        }
    }
}

//hamburger menu styles

.navLink {
    transition: 0.3s;
    &:hover {
        color: $green;
    }
}

.hamburgerContainer {
    display: none;
    cursor: pointer;
}

.hamburgerBars {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
    // z-index: 4;
}

//Banner Image styles

.bannerImage {
    img {
        min-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}