//index file header styles
.indexHeader {
    background: url(../assets/home-1.jpeg) center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navBar {
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    top: 1rem;
}

.pageLinks ul {
    display: flex;
    align-items: center;
    li {
        padding: 1.2rem 1rem;
        font-family: $headingFont;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 0.025rem;
        line-height: 1.8rem;
        .current {
            color: $green;
        }
    }
}


//Banner Image styles

.bannerImage {
    img {
        min-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}