.recipeBar {
    display: flex;
    p {
        font-size: 0.7rem;
        line-height: 1.2rem;
        letter-spacing: 0.015rem;
        color: $lightBlack;
    }

    &:nth-of-type(1) {
        .recipeInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .recipeContent {
                width: 70%;
                button {
                    margin-top: 1rem;
                    padding: 1rem 2rem;
                    border-style: none;
                    background-color: $green;
                    color: white;
                    font-size: 0.7rem;
                    font-weight: 700;
                }
            }
        }
    }

    &:nth-of-type(2) {
        flex-direction: row-reverse;
        .recipeInfo {
            display: flex;
            justify-content: center;
        }
        
        .recipeContent {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 90%;
            margin: 3rem 0;
            li {
                display: flex;
                width: 45%;
                span {
                    font-size: 2rem;
                    margin-right: 1rem;
                    margin-top: 1rem;
                }
                p {
                    font-size: 0.6rem;
                    opacity: 0.5;
                }
                .fa-mug-saucer {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.recipeInfo {
    min-width: 50%;
    background-color: $white;
}

.recipeBar img {
    flex-basis: 50%;
    min-width: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
}