// Responsive design for screens <1200px

@media (max-width: 1200px) {
    // Nav Styles

    .indexHeader {
        display: flex;
    }

    .navBar {
        flex-direction: column;
        align-items: center;
    }

    //Recipe Section Styles

    .recipeArea {
        .recipeBar {
            &:nth-of-type(2) {
                .recipeContent {
                    li {
                        width: 100%;
                    }
                }
            }
        }
    }

    //Footer Styles

    .footerOuterWrapper .footerMain .wrapper {
        width: 90%;
    }



}