// Responsive design for screens <1200px

@media (max-width: 1200px) {
        //Recipe Section Styles

        .recipeArea {
            .recipeBar {
                &:nth-of-type(2) {
                    .recipeContent {
                        li {
                            width: 100%;
                        }
                    }
                }
            }
        }
}


// Responsive design for screens <1024px

@media (max-width: 1024px) {

    .clientsQuote .clientsWrapper h2 {
        margin-top: 3rem;
    }

    .clientsQuote .clientsWrapper .clientsArrow {
        margin-bottom: 3rem;
    }
}



// Responsive design for screens <768px
@media (max-width: 768px) {
    .recipeArea .recipeBar:nth-of-type(1) {
        flex-direction: column;
        .recipeContent {
            margin: 3rem 0;
        }
    }

    .recipeArea .recipeBar:nth-of-type(2) {
        flex-direction: column;
    }

    .clientsQuote .wrapper {
        width: 90%;
    }

    //Contact Page

    .contactInfoSection {
        flex-direction: column;
        .contactFormBox, 
        .contactDetailsBox,
        .contactFormOuterWrapper {
            width: 100%;
            .contactFormInnerWrapper,
            .contactDetailsWrapper {
                width: 90%;
                margin: 0;
                button {
                    margin-bottom: 2rem;
                }
            }
        }

        .contactDetailsBox {
            align-items: center;
        }

    }
}