html {
    font-size: 125%;
}

ul,
li,
a,
input {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: $headingFont;
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 0.055rem;
    line-height: 1.2rem;
}

h2 {
    font-family: $headingFont;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.025rem;
    line-height: 1.8rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

