html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 70%;
  margin: 0 auto;
}

a {
  display: inline-block;
}

/* site fonts */
/* if we set our root element font-size to 125%, then 1 rem = 20px */
html {
  font-size: 125%;
  font-family: "Lora", serif;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 0.055rem;
  line-height: 1.2rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  line-height: 1.8rem;
}
h2::after {
  content: "";
  display: block;
  width: 3rem;
  padding-top: 0.5rem;
  border-bottom: 0.2rem solid #539908;
  margin: 0 auto;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
}

h4 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 0.055rem;
  line-height: 1.2rem;
  color: #539908;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header {
  background: url(../assets/home-1.jpeg) center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.navBar {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  top: 1rem;
}

.pageLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pageLinks ul li {
  padding: 1.2rem 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  line-height: 1.8rem;
}
.pageLinks ul li:nth-of-type(1) {
  color: #539908;
}

.recipeBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recipeBar p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #333333;
}
.recipeBar:nth-of-type(1) .recipeInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.recipeBar:nth-of-type(1) .recipeInfo .recipeContent {
  width: 70%;
}
.recipeBar:nth-of-type(1) .recipeInfo .recipeContent button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-style: none;
  background-color: #539908;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
}
.recipeBar:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.recipeBar:nth-of-type(2) .recipeInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recipeBar:nth-of-type(2) .recipeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 3rem 0;
}
.recipeBar:nth-of-type(2) .recipeContent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}
.recipeBar:nth-of-type(2) .recipeContent li span {
  font-size: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
.recipeBar:nth-of-type(2) .recipeContent li p {
  font-size: 0.6rem;
  opacity: 0.5;
}

.recipeInfo {
  min-width: 50%;
  background-color: #F6F6F6;
}

.recipeBar img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 50%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.ourRestaurants .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 70vh;
}
.ourRestaurants .wrapper .restaurantPictures {
  margin-top: 10rem;
}
.ourRestaurants .wrapper .restaurantInfo {
  width: 55%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.ourRestaurants .wrapper .restaurantInfo p {
  font-size: 0.6rem;
  opacity: 0.5;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  margin-top: 1.5rem;
}

.pictureBox {
  position: relative;
}
.pictureBox .pictureBoxLogo {
  position: absolute;
  top: -6rem;
  right: -5rem;
}

.foodGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.foodGallery img {
  width: 33.3333333333%;
}

.clientsQuote {
  background-color: #b5e48c;
}

.clientsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 70vh;
}
.clientsWrapper .clientsInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}
.clientsWrapper .clientsInfo span {
  font-size: 3rem;
  color: #F6F6F6;
}
.clientsWrapper .clientsInfo span:nth-of-type(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.clientsWrapper .clientsInfo p {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.8rem;
  letter-spacing: 0.03rem;
  margin: 0 2rem;
}
.clientsWrapper .clientsArrow {
  margin-top: 4rem;
  color: #F6F6F6;
  font-size: 1.5rem;
}
.clientsWrapper .clientsArrow span {
  padding: 0rem 1rem;
}
.clientsWrapper .clientsArrow span:nth-of-type(1) {
  opacity: 0.5;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h5 {
  margin-top: 2.2rem;
  margin-bottom: 3rem;
}

.footerOuterWrapper {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footerOuterWrapper .footerMain {
  background-color: #333333;
  color: #F6F6F6;
  height: 80%;
}
.footerOuterWrapper .footerMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.footerOuterWrapper .footerSub {
  background-color: #2E2E2E;
  color: #F6F6F6;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerSections {
  width: 33.3333333333%;
  margin: 4rem 0;
}
.footerSections:nth-of-type(2) {
  margin: 4rem 6rem;
}
.footerSections ul,
.footerSections p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #F6F6F6;
  opacity: 0.5;
}
.footerSections ul li,
.footerSections p li {
  line-height: 2rem;
  border-bottom: 0.2rem solid rgba(246, 246, 246, 0.2);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  width: 90%;
}
form input, form textarea {
  width: 80%;
  padding: 1rem 1rem;
  border: none;
  background-color: #999999;
  opacity: 0.5;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  font-style: italic;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #F6F6F6;
  opacity: 1;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  font-style: italic;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #F6F6F6;
  opacity: 1;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  font-style: italic;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #F6F6F6;
  opacity: 1;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  font-style: italic;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #F6F6F6;
  opacity: 1;
}
form input::placeholder, form textarea::placeholder {
  font-family: "Lora", serif;
  font-size: 0.7rem;
  font-style: italic;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  color: #F6F6F6;
  opacity: 1;
}
form button {
  width: 20%;
  border-radius: 0;
  border: none;
  font-size: 1.2rem;
  background: #539908;
}
form button span {
  color: white;
}

.socialLinks {
  line-height: 4rem;
  margin-top: 1rem;
  border-top: 0.2rem solid rgba(246, 246, 246, 0.2);
  padding-top: 0.5rem;
}
.socialLinks span {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}